.home {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    margin-top: 50px;
    background-color: #F9C265;
    position: relative;
    bottom: 50px;
    right: 10px;
    color: black;
}
.home > h3:nth-child(1) {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 700;
    position: relative;
    left: 125px;
    font-size: 20px;
}
.home > h3:nth-child(2) {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: 600;
    position: relative;
    left: 200px;
    font-size: 20px;
}
.home > h3:nth-child(3) {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    position: relative;
    left: 370px;
    font-weight: 700;
    font-size: 20px;
}
.home > h3:nth-child(4) {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    position: relative;
    left: 1080px;
    font-weight: 600;
    font-size: 20px;
}
.course2 {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    left: 270px;
    font-size: 20px;
}
a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
    left: 125px;
    font-size: 20px;
}
.button2 {
    font-family: "Montserrat", sans-serif;
    border-radius: 20px;
    color: white;
    background-color: black;
    position: relative;
    left: 1080px;
    font-weight: 400;
    font-size: 15px;
}
.monac {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 135px;
}
.improve {
    background-color: #F9C265;
    height: 865px;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 140px;
    right: 8px;
}
.improve > h1 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    bottom: 100px;
    left: 120px;
    font-weight: 600;
    font-size: 81px;
}
.shiny {
    width: 77.22px;
    height: 67px;
    position: relative;
    left: 71px;
}
.skills {
    background-color: black;
    width: 279px;
    height: 110px;
    position: relative;
    left: 93px;
    bottom: 940px;
    border-radius: 90px;
}
.skills > h1 {
    color: RGB(249, 194, 101);
    font-family: "pattaya", sans-serif;
    font-weight: 400;
    font-size: 81px;
    text-align: center;
}
.skills > h1:nth-child(2) {
    color: black;
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 81px;
    position: relative;
    left: 280px;
    bottom: 160px;
}
.p {
    width: 474px;
    height: 96px;
    position: relative;
    left: 970px;
    bottom: 1150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 21px;
}
.wael2 {
    position: relative;
    left: 50px;
    width: 380.68px;
    height: 318.29px;
    bottom: 240px;
}
.vec{
    width: 67.38px;
    height: 82.66px;
    position: relative;
    left: 830px;
    bottom: 570px;
}
.enroll {
    position: relative;
    left: 970px;
    bottom: 1720px;
}
.arrow {
    width: 40px;
    height: 40px;
    position: relative;
    left: 908px;
    bottom: 1735px;
}
.wael{
    width: 861.62px;
    height: 616px;
    position: relative;
    left: 50px;
    bottom: 1059px;
}
.right {
    width: 106px;
    height: 198px;
    position: relative;
    left: 283px;
    bottom: 1450px;
}
.curly {
    position: relative;
    right: 1100px;
    bottom: 1450px;
}
.left {
    position: relative;
    bottom: 1430px;
    right: 10px;
}
.ambot {
    width: 1138px;
    height: 88px;
    position: relative;
    bottom: 1230px;
    right: 62px;
}
.curly2 {
    position: relative;
    bottom: 1386px;
    right: 53px;
}
.we{
    background-color: RGB(253, 246, 228);
    width: 1530px;
    height: 680px;
    position: relative;
    bottom: 1150px;
}
.we > h1 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 100px;
    left: 950px;
    font-weight: 500;
    font-size: 65px;
}
.watch {
    width: 771px;
    height: 520px;
    position: relative;
    bottom: 1770px;
    left: 93px;
}
.smart {
    border: 2px solid black;
    background-color: RGB(249, 194, 101);
    border-radius: 50px;
    width: 203px;
    height: 75px;
    position: relative;
    left: 930px;
    bottom: 2160px;
}
.smart > h1:nth-child(1) {
    font-family: "pattaya", sans-serif;
    position: relative;
    left: 23px;
    bottom: 48px;
    font-weight: 400;
    font-size: 65px;
}
.smart > h1:nth-child(2) {
    font-family: "Montserrat", sans-serif;
    position: relative;
    left: 220px;
    bottom: 179px;
    font-weight: 500;
    font-size: 65px;
}
.smart > h1:nth-child(3) {
    font-family: "Montserrat", sans-serif;
    position: relative;
    left: 20px;
    bottom: 210px;
    font-weight: 500;
    font-size: 65px;
}
.des {
    width: 467px;
    height: 189px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    position: relative;
    left: 956px;
    bottom: 2050px;
}
.feature {
    background-color: RGB(247, 247, 247);
    width: 1530px;
    height: 1095px;
    position: relative;
    bottom: 1992px;
}
.feature > img {
    width: 1244px;
    height: 822px;
    position: relative;
    left: 134px;
    top: 120px;
}
.pop {
    background-color: black;
    width: 1530px;
    height: 1070px;
    position: relative;
    bottom: 2040px;
}
.pop > h2:nth-child(1) {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 103px;
    right: 110px;
}
.pop > h2:nth-child(2) {
    width: 160px;
    border-radius: 90px;
    border: 2px solid RGB(249, 194, 101);
    background-color: black;
    color: RGB(249, 194, 101);
    font-family: "pattaya", sans-serif;
    font-weight: 600;
    font-size: 50px;
    position: relative;
    left: 760px;
    text-align: center;
}
.first2 {
    position: relative;
    bottom: 2880px;
    left: 132px;
}
.second2 {
    position: relative;
    bottom: 2880px;
    left: 190px;
}
.third {
    position: relative;
    bottom: 2880px;
    left: 250px;
}
.ready {
    position: relative;
    bottom: 3780px;
    left: 106px;
}
.try2 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    left: 460px;
    bottom: 3760px;
    font-weight: 700;
    font-size: 51px;
    width: 588px;
    text-align: center;
}
.on2 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    left: 590px;
    bottom: 3790px;
    font-weight: 700;
    font-size: 51px;
    width: 588px;
}
.mobile2 {
    background-color: #F9C265;
    font-family: "pattaya", sans-serif;
    position: relative;
    left: 670px;
    bottom: 3900px;
    font-weight: 400;
    font-size: 51px;
    width: 240px;
    border-radius: 100px;
    text-align: center;
    border: 2px solid black;
}
.container4{
    background: #F9C265;
    position: relative;
    bottom: 233rem;
    width: 1230px;
    height: 353px;
    left: 153px;
    border-radius: 20px;
}
.container4 > p.after2 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    font-size: 21px;
    bottom: 9rem;
    left: 605px;
    width: 450px;
    line-height: 150%;
    font-weight: 400;
}
.container4 > h4.view2 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    left: 605px;
    bottom: 8.5rem;
    font-weight: 700;
    font-size: 17px;
    color: #F9C265;
    background: #000;
    border-radius: 50px;
    padding: 10px 20px;
    width: 120px;
    text-align: center;
}
.container4 > img.aww2 {
    position: relative;
    left: 100px;
    width: 380.68px;
    height: 318.29px;
    bottom: 426.9px;
}
.container4 > img.toyok2 {
    position: relative;
    width: 60.97px;
    height: 58.74px;
    bottom: 472px;
    right: 414.7px;
}
.container4 > img.tosok2 {
    position: relative;
    width: 67.38px;
    height: 82.66px;
    bottom: 735px;
    left: 750px;
}
.container4 > h1.get2:nth-child(1) {
    position: relative;
    top: 70px;
    left: 605px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
}
.container4 > h1.read2:nth-child(2) {
    position: relative;
    bottom: 34px;
    left: 710px;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
}
.container4 > h1.start2:nth-child(3) {
    position: relative;
    bottom: 8.6rem;
    left: 850px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
}
.bg2 {
    width: 1530px;
    height: 962px;
    position: relative;
    bottom: 2530px;
}
.footer {
    background-color: #1D1D1D;
    position: relative;
    bottom: 232.2rem;
    width: 1230px;
    height: 353px;
    left: 153px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer > img.last {
    position: relative;
    top: 30px;
    left: 30px;
    width: 181.92px;
    height: 60px;
}
.footer > p.Speed {
    position: relative;
    top: 30px;
    left: 40px;
    width: 450px;
    line-height:35px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.footer > p.all {
    position: relative;
    top: 80px;
    left: 40px;
    width: 450px;
    line-height:30px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.footer > h3.c {
    position: relative;
    left: 570px;
    bottom: 13.2rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 21px;
}
.footer > h3.r {
    position: relative;
    left: 750px;
    bottom: 16rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 21px;
}
.footer > h3.p {
    position: relative;
    left: 1000px;
    bottom: 18.8rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 21px;
}
.footer > ul.acp {
    position: relative;
    left: 530px;
    bottom: 22.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    list-style-type: none;
    font-size: 21px;
    color: white;
    line-height: 50px;
} 
.footer > ul.res {
    position: relative;
    left: 710px;
    bottom: 33.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    list-style-type: none;
    font-size: 21px;
    color: white;
    line-height: 50px;
}  
.footer > ul.pro {
    position: relative;
    left: 960px;
    bottom: 44.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    list-style-type: none;
    font-size: 21px;
    color: white;
    line-height: 50px;
}
.footer > p.terms {
    position: relative;
    left: 851px;
    bottom: 44rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21px;
}
.play2 {
    width: 320.61px;
    height: 71px;
    left: 571px;
    position: relative;
    bottom: 243rem;
}
.latag{
    position: relative;
    top: 30px;
}

.third-body-div {
  position: relative;
  margin: 0 auto;
  width: 1512px;
  height: 1095px;
  background: radial-gradient(
    circle,
    rgba(184, 122, 15, 0.2) 10%,   
    rgba(255, 255, 255, 1) 60%     
  );
  bottom: 2000px;
}


.black-box {
  position: relative;
  background-color: #1D1D1D;
  width: 806px;
  height: 383px;
  left: 134px;
  top: 120px;
  border-radius: 10px;
}

.tri-line2-img {
  position: relative;
  width: 48px;
  height: 60px;
  left: 13.81px;
  top: 40px;
}

.special-features-txt {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 3%;
  color: white;
  width: 414px;
  height: 103px;
  left: 54px;
  bottom: 10px;
}

.features-txt {
position: relative;
font-family: "Pattaya", sans-serif;
font-weight: 400;
color: #F9C265;

}

.see-all-features {
  position: relative;
  top: 50px;
  font-family: "Montserrat", sans-serif;
  width: 277px;
  height: 82px;
  border-radius: 50px;
  background-color: #F9C265;
  left: 58px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;

}

.arrow-up-img2 {
  position: relative;
  left: 270px;
  bottom: 18px;
  height: 50px;
}

.get-certificate-div {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 378px;
  height: 380px;
  left: 1000px;
  bottom: 280px;
}

.cert-img {
  position: relative;
  width: 94.86px;
  height: 83px;
  left: 27px;
  top: 39px;
}

.get-cert-txt {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 3%;
  left: 37px;
  top: 50px;
}

.add-value-txt {
  position: relative;
  font-weight: 400;
  color: rgb(85, 85, 85);
  font-size: 20px;
  line-height: 171%;
  letter-spacing: 3%;
  width: 306px;
  height: 136px;
  left: 38px;
  top: 50px;
}

.amazing-instructor-div {
  background-color: rgb(253, 253, 253);
  font-family: "Inter", sans-serif;
  position: relative;
  width: 378px;
  height: 380px;
  left: 134px;
  bottom: 220px;
}

.instructor-img {
  position: relative;
  width: 106.93px;
  height: 103px;
  left: 23px;
  top: 18px;
}

.instructor-txt {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 3%;
  width: 274px;
  height: 42px;
  left: 38px;
  top: 20px;
}

.our-amazing-txt {
  position: relative;
  font-weight: 400;
  color: rgb(85, 85, 85);
  font-size: 20px;
  line-height: 171%;
  letter-spacing: 3%;
  width: 306px;
  height: 102px;
  left: 38px;
  top: 25px;
}

.lifetime-support-div {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 378px;
  height: 380px;
  left: 562px;
  bottom: 600px;
}

.support-img {
  position: relative;
  width: 104.43px;
  height: 97px;
  left: 17px;
  top: 24px;
}

.support-txt {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 3%;
  width: 239px;
  height: 42px;
  left: 37px;
  top: 25px;
}

.lifetime-access-txt {
  position: relative;
  font-weight: 400;
  color: rgb(85, 85, 85);
  font-size: 20px;
  line-height: 171%;
  letter-spacing: 3%;
  width: 306px;
  height: 136px;
  left: 38px;
  top: 25px;
}

.video-lesson-div {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 378px;
  height: 380px;
  left: 1000px;
  bottom: 980px;
}

.video-lesson-img {
  position: relative;
  width: 99.9px;
  height: 97px;
  top: 20px;
  left: 30px;
}

.video-lesson-txt {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 3%;
  width: 193px;
  height: 42px;
  top: 25px;
  left: 37px;
}
.recorded {
  font-family: "Inter", sans-serif;
  position: relative;
  font-weight: 400;
  color: rgb(85, 85, 85);   
  font-size: 20px;
  line-height: 171%;
  letter-spacing: 3%;
  width: 306px; 
  height: 136px;
  left: 38px;
  top: 30px;

}


